.loadingSpinner {
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-name: rotate-forever;
  animation-timing-function: linear;
  height: 14px;
  width: 14px;
  border: 2px solid #ffffff;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}

@keyframes rotate-forever {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
