.pagination {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__page {
    color: theme-color('secondary');
    margin: 0px 20px;
    font-size: 15px;
  }

  &__arrow {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    border: none;

    i {
      position: absolute;
      width: 20px;
      height: 3px;
      border-radius: 10px;
      background: theme-color('primary');
      transition: all 0.3s ease;
    }

    &.left {
      i {
        left: 0;
        transform-origin: left center;
      }
      i:first-child {
        transform: translate(0, -1px) rotate(40deg);
      }
      i:last-child {
        transform: translate(0, 1px) rotate(-40deg);
      }
      &:hover i:first-child {
        transform: translate(0px, -0.5px) rotate(30deg);
      }
      &:hover i:last-child {
        transform: translate(0px, 0.5px) rotate(-30deg);
      }
      &:active i:first-child {
        transform: translate(0px, -0.2px) rotate(20deg);
      }
      &:active i:last-child {
        transform: translate(0px, 0.2px) rotate(-20deg);
      }
      &:disabled i:first-child {
        transform: translate(0px, 0) rotate(0deg);
      }
      &:disabled i:last-child {
        transform: translate(0px, 0) rotate(0deg);
      }
    }
    &.right {
      i {
        right: 0;
        transform-origin: right center;
      }
      i:first-child {
        transform: translate(0, 1px) rotate(40deg);
      }
      i:last-child {
        transform: translate(0, -1px) rotate(-40deg);
      }
      &:hover i:first-child {
        transform: translate(0, 0.5px) rotate(30deg);
      }
      &:hover i:last-child {
        transform: translate(0, -0.5px) rotate(-30deg);
      }
      &:active i:first-child {
        transform: translate(0, 0.2px) rotate(20deg);
      }
      &:active i:last-child {
        transform: translate(0, 0.2px) rotate(-20deg);
      }
      &:disabled i:first-child {
        transform: translate(0, 0) rotate(0);
      }
      &:disabled i:last-child {
        transform: translate(0, 0) rotate(-0deg);
      }
    }
    &:disabled {
      opacity: 0.3;
      cursor: default;
    }
  }
}
