.pagination {
  color: theme-color('secondary');

  .list {
    display: flex;
    align-items: center;

    &__item .prev,
    &__item .page,
    &__item .next {
      display: inline-block;
      padding: 8px 12px;
      text-decoration: none;
      margin: 0px 6px;
      color: theme-color('primary');
      transition: all 0.3s;
    }
    .page:hover,
    .page--active {
      color: #fff;
      background-color: theme-color('primary');
      box-shadow: 0px 0px 2px rgb(214, 214, 214);
    }
    .prev:hover {
      transform: translateX(-5px);
    }
    .next:hover {
      transform: translateX(5px);
    }
    .prev--disabled,
    .next--disabled {
      pointer-events: none;
      color: rgba(214, 214, 214, 0.911);
    }
  }
}
