.select {
  label {
    font-size: 15px;
  }
  select {
    width: 42px;
    background-color: transparent;
    border: none;
    font-size: 15px;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}
